<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tfm.Properties.Hotkeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <tfm.Properties.Hotkeys>
            <setting name="agl" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="command" serializeAs="String">
                <value>Oem6</value>
            </setting>
            <setting name="asl" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="heading" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="IndicatedAirspeed" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="TrueAirspeed" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="MachSpeed" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="VerticalSpeed" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="AirTemperature" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="ToggleTrim" serializeAs="String">
                <value>Shift+T</value>
            </setting>
            <setting name="MuteSimconnect" serializeAs="String">
                <value>Shift+R</value>
            </setting>
            <setting name="FlightFollowing" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="NextWaypoint" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="DestinationInfo" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="AttitudeMode" serializeAs="String">
                <value>OemOpenBrackets</value>
            </setting>
            <setting name="SpeakAttitude" serializeAs="String">
                <value>Ctrl+M</value>
            </setting>
            <setting name="SpeakAutopilot" serializeAs="String">
                <value>Shift+A</value>
            </setting>
            <setting name="ToggleGPWS" serializeAs="String">
                <value>Shift+G</value>
            </setting>
            <setting name="ToggleILS" serializeAs="String">
                <value>Shift+I</value>
            </setting>
            <setting name="ToggleFlapsAnnouncement" serializeAs="String">
                <value>Shift+F</value>
            </setting>
            <setting name="ReadWind" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="RunwayGuidance" serializeAs="String">
                <value>Ctrl+H</value>
            </setting>
            <setting name="FuelReport" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="FuelFlow" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="FuelTank1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FuelTank2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FuelTank3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FuelTank4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FuelTank5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FuelTank6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FuelTank7" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="FuelTank8" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="FuelTank9" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="FuelTank10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NearbyAirborn" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="NearbyGround" serializeAs="String">
                <value>Shift+P</value>
            </setting>
            <setting name="Engine1Info" serializeAs="String">
                <value>Shift+1</value>
            </setting>
            <setting name="Engine2Info" serializeAs="String">
                <value>Shift+2</value>
            </setting>
            <setting name="Engine3Info" serializeAs="String">
                <value>Shift+3</value>
            </setting>
            <setting name="Engine4Info" serializeAs="String">
                <value>Shift+4</value>
            </setting>
        </tfm.Properties.Hotkeys>
    </userSettings>
</configuration>
