version: 0.{build}
branches:
  only:
  - master
nuget:
  project_feed: true

environment:
  encFileKey:
    secure: IS92sMB8DjOsUUuLZRWCEHtM3s4a0TWtWojhyOXsxqk=

before_build:
- cmd: nuget restore source\tfm.sln
build:
  project: source\tfm.sln
  verbosity: minimal
after_build:
- cmd: >-
    makensis installer\tfm.nsi /DVERSION=%APPVEYOR_REPO_TAG_NAME%

    appveyor PushArtifact installer\tfm-%APPVEYOR_REPO_TAG_NAME%-setup.EXE
deploy:
- provider: FTP
  on:
    APPVEYOR_REPO_TAG: true
  host: vps.fayre.me
  protocol: sftp
  username: talkingflightmonitor
  password:
    secure: gsDOGtodux/gAPPDTybI5w==
  folder: /public_html/snapshots
notifications:
- provider: Email
  to:
  - jfayre@gmail.com
  subject: TFM build
  on_build_success: true
  on_build_failure: true
