<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tfm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
        
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <tfm.Properties.Settings>
            <setting name="GeonamesUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="FlightFollowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avionics_tab" serializeAs="String">
                <value>simplified</value>
            </setting>
            <setting name="UseSAPIOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadInstrumentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadSimconnectMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGPWS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadILS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGroundSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMetric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingTimeInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ILSAnnouncementTimeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AttitudeAnnouncementMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AltitudeAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadFlaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadAutopilot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAPISpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadNavRadios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewAvionicsTab" serializeAs="String">
                <value />
            </setting>
            <setting name="AvionicsTabChangeFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBraille" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputHistoryLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sendToTray" serializeAs="String">
                <value>False</value>
            </setting>
        </tfm.Properties.Settings>
        
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.976" newVersion="2.0.4.976" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
