<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="tfm.Properties.Hotkeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="tfm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            
        </sectionGroup>
        
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tfm.Properties.Hotkeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <tfm.Properties.Hotkeys>
            <setting name="AGL_Altitude" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="Command_Key" serializeAs="String">
                <value>Oem6</value>
            </setting>
            <setting name="ASL_Altitude" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Aircraft_Heading" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="Indicated_Airspeed" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="True_Airspeed" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="Mach_Speed" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="Vertical_Speed" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Outside_Temperature" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="Toggle_Trim_Announcement" serializeAs="String">
                <value>Shift+T</value>
            </setting>
            <setting name="Mute_Simconnect_Messages" serializeAs="String">
                <value>Shift+R</value>
            </setting>
            <setting name="Nearest_City" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Next_Waypoint" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="Destination_Info" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Attitude_Mode" serializeAs="String">
                <value>OemOpenBrackets</value>
            </setting>
            <setting name="Speak_Attitude" serializeAs="String">
                <value>Ctrl+M</value>
            </setting>
            <setting name="Toggle_Autopilot_Announcement" serializeAs="String">
                <value>Shift+A</value>
            </setting>
            <setting name="Toggle_GPWS_Announcement" serializeAs="String">
                <value>Shift+G</value>
            </setting>
            <setting name="Toggle_ILS_Announcement" serializeAs="String">
                <value>Shift+I</value>
            </setting>
            <setting name="Toggle_Flaps_Announcement" serializeAs="String">
                <value>Shift+F</value>
            </setting>
            <setting name="Wind_Information" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="Runway_Guidance_Mode" serializeAs="String">
                <value>Ctrl+H</value>
            </setting>
            <setting name="Fuel_Report" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="Fuel_Flow" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="Fuel_Tank_1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Fuel_Tank_2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Fuel_Tank_3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Fuel_Tank_4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Fuel_Tank_5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Fuel_Tank_6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Fuel_Tank_7" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Fuel_Tank_8" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Fuel_Tank_9" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Fuel_Tank_10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Nearby_Airborn_Aircraft" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="Nearby_Ground_Aircraft" serializeAs="String">
                <value>Shift+P</value>
            </setting>
            <setting name="Engine_1_Info" serializeAs="String">
                <value>Shift+1</value>
            </setting>
            <setting name="Engine_2_Info" serializeAs="String">
                <value>Shift+2</value>
            </setting>
            <setting name="Engine_3_Info" serializeAs="String">
                <value>Shift+3</value>
            </setting>
            <setting name="Engine_4_Info" serializeAs="String">
                <value>Shift+4</value>
            </setting>
            <setting name="Weight_Report" serializeAs="String">
                <value>Shift+W</value>
            </setting>
            <setting name="Repeat_Last_Simconnect_Message" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="Read_Simulation_Rate" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="Ground_Speed" serializeAs="String">
                <value>U</value>
            </setting>
            <setting name="Engine_1_Throttle" serializeAs="String">
                <value>Ctrl+1</value>
            </setting>
            <setting name="Engine_2_Throttle" serializeAs="String">
                <value>Ctrl+2</value>
            </setting>
            <setting name="Engine_3_Throttle" serializeAs="String">
                <value>Ctrl+3</value>
            </setting>
            <setting name="Engine_4_Throttle" serializeAs="String">
                <value>Ctrl+4</value>
            </setting>
            <setting name="Current_Location" serializeAs="String">
                <value>Shift+C</value>
            </setting>
            <setting name="Disable_Command_Key" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="Toggle_Braille_output" serializeAs="String">
                <value>Ctrl+B</value>
            </setting>
            <setting name="ap_Get_Altitude" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ap_Set_Altitude" serializeAs="String">
                <value>Shift+A</value>
            </setting>
            <setting name="ap_Command_Key" serializeAs="String">
                <value>OemOpenBrackets</value>
            </setting>
            <setting name="ap_Get_Heading" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="ap_Set_Heading" serializeAs="String">
                <value>Shift+H</value>
            </setting>
            <setting name="ap_Get_Airspeed" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ap_Set_Airspeed" serializeAs="String">
                <value>Shift+S</value>
            </setting>
            <setting name="Read_Flaps_Angle" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="ap_Get_Mach_Speed" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="ap_Set_Mach_Speed" serializeAs="String">
                <value>Shift+M</value>
            </setting>
            <setting name="ap_Set_Vertical_Speed" serializeAs="String">
                <value>Shift+V</value>
            </setting>
            <setting name="ap_Get_Com_Radios" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="ap_Set_Com_Radios" serializeAs="String">
                <value>Shift+C</value>
            </setting>
            <setting name="ap_Get_Nav_Radios" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="ap_Set_Nav_Radios" serializeAs="String">
                <value>Shift+N</value>
            </setting>
            <setting name="ap_Get_Transponder" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="ap_Set_Transponder" serializeAs="String">
                <value>Shift+T</value>
            </setting>
            <setting name="Fuel_Manager" serializeAs="String">
                <value>Ctrl+F</value>
            </setting>
            <setting name="Output_History" serializeAs="String">
                <value>Ctrl+S</value>
            </setting>
            <setting name="Read_Landing_Gear" serializeAs="String">
                <value>Shift+E</value>
            </setting>
            <setting name="ap_Set_Throttle" serializeAs="String">
                <value>Shift+R</value>
            </setting>
        </tfm.Properties.Hotkeys>
        <tfm.Properties.Settings>
            <setting name="GeonamesUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="FlightFollowing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avionics_tab" serializeAs="String">
                <value>simplified</value>
            </setting>
            <setting name="UseSAPIOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadInstrumentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadSimconnectMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGPWS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadILS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadGroundSpeed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseMetric" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingTimeInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ILSAnnouncementTimeInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AttitudeAnnouncementMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AltitudeAnnouncements" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadFlaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadAutopilot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlightFollowingOffline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SAPISpeechRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReadNavRadios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewAvionicsTab" serializeAs="String">
                <value />
            </setting>
            <setting name="AvionicsTabChangeFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputBraille" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputHistoryLength" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sendToTray" serializeAs="String">
                <value>False</value>
            </setting>
        </tfm.Properties.Settings>
        
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.976" newVersion="2.0.4.976" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <applicationSettings>
    <tfm.Properties.Hotkeys>
      <setting name="ap_Get_Vertical_Speed" serializeAs="String">
        <value>V</value>
      </setting>
    </tfm.Properties.Hotkeys>
  </applicationSettings>
</configuration>
